@{
	Layout = "_Layout";
}

<div class="row justify-content-center mb-5">
	<div class="col-lg-5 text-center">
		<div class="card">
			@*@Context.Session.GetString("Peran")*@
			<h5 class="card-header white-text py-4" style="background-color: #0059AB;">
				<strong>Login Akun PMB</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0">
				<div class="md-form">
					<input type="text" class="form-control" MaxLength="30" placeholder="Nomor Pendaftaran" name="mhs_nopendaftaran" id="mhs_nopendaftaran">
				</div>
				<div class="md-form">
					<input type="password" class="form-control" placeholder="Kata Sandi" name="mhs_password" id="mhs_password">
				</div>
				<div class="d-flex justify-content-around">
					<div>
						Lupa Kata Sandi? <a asp-controller="mahasiswabaru" asp-action="LupaPasswordMahasiswa" class="font-weight-bold">Klik Disini</a>
					</div>
				</div>
				<button class="btn btn-rounded btn-block my-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="login(event)">Login</button>
				<p>
					Belum Punya Akun PMB? <a asp-controller="mahasiswabaru" asp-action="DaftarAkunMahasiswa" class="font-weight-bold btn btn-secondary btn-rounded" style="padding: .5em 3em; margin-left: 10px;">Daftar Disini</a>
				</p>
				<p>
					Login Sebagai KSK? <a href="Page_Aktivasi.aspx" class="font-weight-bold">Klik Disini</a>
				</p>
			</div>
		</div>
	</div>
</div>

<script>
	function login(event) {
		event.preventDefault();

		var mhs_nopendaftaran = document.getElementById("mhs_nopendaftaran").value;
		var mhs_password = document.getElementById("mhs_password").value;

		if (mhs_nopendaftaran && mhs_password) {
			var hostname = "https://localhost:7087/";
			var url = hostname + "loginmahasiswa?mhs_nopendaftaran=" + mhs_nopendaftaran + "&mhs_password=" + mhs_password;
			var method = "GET";

			$.ajax({
				url: url,
				method: method,
				contentType: "application/json",
				success: function (data) {
					if (data.status === 200) {
						alert("Berhasil Login");
						window.location.href = '/mahasiswabaru/index';
					} else {
						alert(data.message);
						// Handle validation errors
						if (data.errors) {
							Object.keys(data.errors).forEach(function (key) {
								alert(key + ": " + data.errors[key][0]);
							});
						}
					}
				},
				error: function (xhr, status, error) {
					console.error("AJAX request error:", status, error);
					console.log("Server response:", xhr.responseText);
					alert("An error occurred during login. Please try again." + xhr, status, error);
				},
			});
		} else {
			alert("Nomor Pendaftaran dan Kata Sandi harus diisi");
			return;
		}
	}
</script>
