@{
	Layout = "_Layout";
}

<div class="row justify-content-center mb-5">
	<div class="col-lg-8">
		<div class="card">
			<h5 class="card-header text-center white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Kritik dan Saran</strong>
				<a class="btn" style="position: absolute; top: 11px; right: 10px; color: white;" asp-controller="mahasiswabaru" asp-action="evaluasi"><strong>X</strong></a>
			</h5>
			<div class="card-body px-lg-5 pt-1">

				<div class="row">
					<div class="col-md-6">
						<!-- First Column -->
						<div class="form-floating mb-4">
							<input type="text" class="form-control" maxlength="10" id="floatingInputGrid" name="nama" placeholder="">
							<label for="floatingInputGrid">Nama</label>
						</div>

						<div class="form-floating mb-4">
							<input type="text" class="form-control" maxlength="50" id="floatingInputGrid" name="kelompok" placeholder="" readonly>
							<label for="floatingInputGrid">Kelompok</label>
						</div>

						<div class="form-floating mb-4">
							<textarea class="form-control" placeholder="" id="floatingTextarea2" name="kritik" style="height: 100px"></textarea>
							<label for="floatingTextarea2">Kritik</label>
						</div>
					</div>

					<div class="col-md-6">
						<!-- Second Column -->
						<div class="form-floating mb-4">
							<textarea class="form-control" placeholder="" id="floatingTextarea2" name="saran" style="height: 100px"></textarea>
							<label for="floatingTextarea2">Saran</label>
						</div>

						<div class="form-floating mb-4">
							<textarea class="form-control" placeholder="" id="floatingTextarea2" name="umpanbalik" style="height: 100px"></textarea>
							<label for="floatingTextarea2">Umpan Balik</label>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-3">
						<button class="btn btn-rounded btn-block my-3 mb-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" onclick="login(event)">Simpan</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>