@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" type="css" href="/assets/Styles/Style.css">
</head>
<body bgcolor="lightblue">
    
    
    <div class="container">
     

        <div class="img-container">
            <div id="fadeInKeAtas" class="img-fluid rounded-5 mb-5 imgWithShadow">
                <img id="fadeInKeAtas" src="~/assets/Images/2023-PKKMB.jpg" class="img-fluid rounded-5 mb-5 imgWithShadow" alt="">
            </div>
          
        </div>
     
    </div>

    <img id="gambarInteraktif" src="/assets/Images/logo/Logo-PKKMB-480.png" class="rounded" alt="...">
  

</body>
</html>
