@{
	Layout = "_Layout";
}

<div class="row justify-content-center mb-5">
	<div class="col-lg-5 text-center">
		<div class="card">
			<h5 class="card-header white-text py-4" style="background-color: #0059AB;">
				<strong>Lupa Akun Mahasiswa</strong>
			</h5>
			<div class="card-body px-lg-5 pt-0 my-1">
				<div class="md-form text-center">
					<p>
						Silakan masukkan Alamat Email dan Nomor Telepon Anda yang terdaftar untuk melakukan reset
						kata sandi Anda. Kami akan mengirimkan kata sandi ke Alamat Email Anda.
					</p>
				</div><hr />
				<div class="md-form">
					<input type="email" class="form-control" MaxLength="100" placeholder="Email">
				</div>
				<button runat="server" ID="btnLogin" class="btn btn-rounded btn-block my-4 white-text font-weight-bold waves-effect z-depth-0" Style="background-color: #0059AB;" OnClick="btnLogin_Click" ValidationGroup="valLogin">Kirim Kata Sandi</button>
				<p>
					Kembali Ke Halaman Awal? <a asp-controller="mahasiswa" asp-action="LoginMahasiswa" class="font-weight-bold">Klik Disini</a>
				</p>
			</div>
		</div>
	</div>
</div>