@{
}


<div class="row justify-content-center mb-5">
	<div class="col-lg mb-4">
		<p><h1 class="text-center"><span style="color:#0059ab;">Kesekretariatan</span> / Nilai / Sikap</h1></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 mb-1">
		<a class="nav-link font-weight-bold waves-effect waves-light white-text rounded" asp-controller="panitiakesekretariatan" asp-action="tambahnilaisikap" style="padding: 8px 15px; background-color: #0059AB;"><b style="font-weight: bold;">Tambah</b></a>
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg mb-4">
		<div class="card">
			<div class="card-header">
				Nilai Sikap
			</div>
			<div class="card-body">
				<table class="table" id="">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Nama</th>
							<th scope="col">Kelompok</th>
							<th scope="col">Hari / Tanggal</th>
							<th scope="col">Nilai</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
					<tbody id="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>